@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --closed-bgc-midnight: hsla(205, 30%, 27%, 1);
    --hover-bgc-blue: hsla(205, 37%, 55%, 1);
    --primary-color-white: hsla(0, 0%, 99%, 1);
    --nav-open: hsla(0, 0%, 95%, 1);
    --button-inactive: hsla(203, 25%, 90%, 1);
    --button-orange:  hsla(37, 98%, 54%, 1);
    --button-orange-hover: hsla(37, 100%, 65%, 1);
    --opened-card: rgb(149, 171, 184);
    --player-title:hsla(203, 22%, 54%, 1);
    --current-turn: hsla(206, 45%, 15%, 1);
    
    --secondary-color-gray: rgb(75, 111, 133);
    --primary-hover-state: hsla(205, 38%, 55%, 1);
}
/* --------- */

/* CONTAINER EXTEND */
%container {
    padding-left: calc(50% - calc(100% - 48px) / 2);
    padding-right: calc(50% - calc(100% - 48px) / 2);
}

@media only screen and (min-width: 750px) {
    %container {
        padding-left: calc(50% - calc(100% - 80px) / 2);
        padding-right: calc(50% - calc(100% - 80px) / 2);
    }
}
 
@media only screen and (min-width: 1400px) {
    %container {
        padding-left: calc(50% - calc(100% - 330px) / 2);
        padding-right: calc(50% - calc(100% - 330px) / 2);
    }
}
/* ----------- */

button {
    cursor: pointer;
    transition: .2s ease;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 26px;
    padding: 10px 18.5px;
}

body {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-height: 100vh;
    padding-top: 24px;
    padding-bottom: 24px;
    @extend %container;
}

.button-orange {
    background-color: var(--button-orange);
    color: var(--primary-color-white);

    &:hover {
        background-color: var(--button-orange-hover);
    }
}

.button-classic {
    background-color: var(--button-inactive);
    color: var(--closed-bgc-midnight);

    &:hover {
        background-color: var(--hover-bgc-blue);
        color: var(--primary-color-white);
    }
}

#overlay {
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 2;
}

.fixed {
    position: fixed;
}

header {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color-white);
    position: relative;

    h1 {
        display: grid;
        place-items: center;
    }

    .toggle {
        cursor: pointer;
        padding: 10px 18.5px;
        border: 0;
        border-radius: 26px;
        color: inherit;
    }

    .nav-comp {
        display: none;
    }

}

.new-game {
    color: var(--closed-bgc-midnight);
    background-color: var(--button-inactive);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 18.5px;
    border: 0;
    text-align: center;
    border-radius: 26px;
    transition: .2s ease;

    &:hover {
        background-color: var(--hover-bgc-blue);
        color: var(--primary-color-white);
    }
}

.nav {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -200%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: var(--nav-open);
    border-radius: 10px;
    transition: .3s ease;

    &.is-open {
        transform: translate(0, 100%);
        z-index: 3;
    }
}

#game {
    list-style: none;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    margin-top: 50px;
    gap: calc(32px / 3);
    transition: .2s ease;

    li {
        transition: inherit;
        background-color: var(--closed-bgc-midnight);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 40px;
        color: var(--primary-color-white);
        display: flex;
        align-items: center;
        justify-content: center;        

        span {
            display: none;
        }

        img {
            display: none;
            transform: scale(.5);
        }

        &:hover {
            background-color: var(--hover-bgc-blue);
        }

        &.is-opened {
            background-color: var(--opened-card);

            span {
                display: initial;
            }

            img {
                display: initial;
            }
        }

        &.is-active {
            background-color: var(--button-orange);
            
            span {
                display: initial;
            }
            
            img {
                display: initial;
            }
        }
    }
}

#game.size-6 {
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    gap: calc(42px / 5);

    li {
        height: 35px;
        width: 35px;
        font-size: 24px;
    }
}

#footer {
    height: 80px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}

.players {
    position: relative;
    background-color: var(--button-inactive);
    height: 70px;
    padding: 10px 13px;
    flex-basis: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        display: none;
        top: 0;
        left: 50%;
        height: 8px;
        width: 16px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--button-orange);
        border-top: 10px solid transparent;
        transform: translate(-50%, -100%);
    }

    h4 {
        color: var(--player-title);
        font-size: 15px;

        .tablet {
            display: none;
        }
    }

    p {
        color: var(--closed-bgc-midnight);
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }
}

.players.is-playing {
    background-color: var(--button-orange);

    &::after {
        display: initial;
    }

    h4 {
        color: var(--primary-color-white);
    }

    p {
        color: var(--primary-color-white);
    }
}

.stats {
    flex-basis: 100%;
    background-color: var(--button-inactive);
    color: var(--player-title);
    border-radius: 5px;
    padding: 10px 32px;
    text-align: center;

    h4 {
        font-size: 24px;
        font-weight: 700;
        color: var(--closed-bgc-midnight);
    }
}

#results {
    position: absolute;
    display: none;
    width: calc(100% - 48px);
    min-width: 252px;
    left: 50%; top: 50%;
    transform: translate(-200%, -50%);
    background-color: var(--nav-open);
    border-radius: 10px;
    text-align: center;
    padding: 24px;
    transition: .3s ease;

    h3 {
        font-size: 24px;
        color: var(--current-turn);
    }

    p {
        color: var(--player-title);
        margin-top: 7px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 24px 0;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: var(--button-inactive);
            height: 70px;
            padding: 16px;
            border-radius: 5px;
            color: var(--player-title);

            
            h4 {
                color: var(--closed-bgc-midnight);
                font-size: 20px;
                line-height: 25px;
            }
            
            &.winner {
                background-color: var(--current-turn);
                color: var(--primary-color-white);

                h4 {
                    color: inherit !important;
                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

#results.is-open {
    display: initial;
    transform: translate(-50%, -50%);
    z-index: 3;
}

@media only screen and (min-width: 375px) {
    #game {
        gap: calc(42px / 3);
        width: 327px;

        li {
            height: 70px;
            width: 70px;
        }
    }

    #game.size-6 {
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        gap: calc(57px / 5);
    
        li {
            height: 45px;
            width: 45px;
        }
    }

    #results {
        width: 327px;
    }
}

@media only screen and (min-width: 750px) {
    header {
        button.toggle {
            display: none;
        }
        
        .nav {
            display: none;
        }

        .nav-comp {
            display: initial;
        }
    }

    #game {
        gap: calc(100px / 3);
        width: 500px;

        li {
            height: 100px;
            width: 100px;

            img {
                transform: scale(1);
            }
        }
    }

    #game.size-6 {
        gap: calc(80px / 5);
    
        li {
            height: 70px;
            width: 70px;
            font-size: 44px;
        }
    }

    #footer.st {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .players {
        align-items: flex-start;

        h4 {
            .mobile {
                display: none;
            }

            .tablet {
                display: initial;
            }
        }
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #results {
        width: 500px;

        div {
            flex-direction: row;

            * {
                flex-basis: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .players {

        &::before {
            content: 'CURRENT TURN';
            display: none;
            position: absolute;
            bottom: 0; left: 50%;
            transform: translate(-50%, 120%);
            font-size: 13px;
            width: 158px;
            font-weight: 700;
            line-height: 16px;
            color: var(--current-turn);
            letter-spacing: 5px;
            cursor: text;
        }
    }

    .players.is-playing::before {
        display: initial;
    } 
}